@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
}

.jumbotron {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to bottom right, #49d109, #59d241);
  padding: 50px 30px;
}

.jumbotron h1 {
  color: #fff;
  margin-bottom: 20px;

}

.jumbotron .form {
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
}

.jumbotron .form input {
  border: none;
  padding: 5px;
  width: 350px;
}


.jumbotron .form .btn-submit {
  border: none;
  background-color: #ff9900;
  padding: 10px 15px;
  border-radius: 5px;
  color: #fff;
  font-weight: 600;
}

.content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;

}

.card {
  width: 500px;
  display: flex;
  flex-direction: row;
  border: 1px solid #cccccc;
  padding: 20px;
  border-radius: 5px;
  margin-top: 15px;
}

.card input {
  margin-right: 20px;
}


.text {
  flex: 3;
}

.button-action {
  flex: 1
}

.btn-edit, .btn-delete {
  border: none;
  background-color: #ff9900;
  padding: 5px;
  border-radius: 5px;
  color: #fff;
  margin: 2px;
}

.btn-delete {
  background-color: #bf2828;
}

.warning {
  color: #bf2828;
}

@media only screen and (max-width: 576px) {
  .jumbotron {
    padding-top: 50px;
  }

  .jumbotron .form {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
  }

  .jumbotron .form input {
    width: 100%;
    height: 40px;
  }

  .card {
    width: 90%;
  }
}